@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f0f10;
  color: #fff;

  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea {
  color: #000;
}

select option {
  color: black;
}
